<div class="container-fluid wallet-list">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="wallet-left">
                    <i class="fa fa-film" aria-hidden="true"></i>
                    <h6>{{LANG.Available_cash_in_your_CFC_wallet}}</h6>
                    <h1>SR 30,000</h1>
                    <button class="btn add-amount">{{LANG.ADD_AMOUNT}}</button>
                </div>
            </div>
            <div class="col-md-8 wallet-right">
                <h6>{{LANG.Your_active_funds}}</h6>
                <div class="wallet-right1">
                    <div class="right-first">
                        <div class="chart-container">
                            <div class="chart" data-percent="13" data-bar-color="#00C48A">
                                <span class="percent" data-after="%">13</span>
                                <p>{{LANG.Amount_Paid}}</p>
                            </div>
                        </div>
                        <div class="right-2">
                            <h4>{{LANG.FlyForward_Corp}}.</h4>
                            <p>{{LANG.The_Next_Tech_Of_Aviation}}</p>
                            <div class="right-raised">
                                <div>
                                    <p>{{LANG.Amount_Raised}}</p>
                                    <h5>SAR 6550</h5>
                                </div>
                                <div>
                                    <p>{{LANG.Amount_Paid}}</p>
                                    <h5 class="paid-sr">SAR 520</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-second">
                        <div class="right-raised">
                            <div>
                                <p>{{LANG.Due_this_month}}</p>
                                <h5>SAR 6550</h5>
                            </div>
                            <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="wallet-right1">
                    <div class="right-first">
                        <div class="chart-container">
                            <div class="chart" data-percent="13" data-bar-color="#00C48A">
                                <span class="percent" data-after="%">13</span>
                                <p>{{LANG.Amount_Paid}}</p>
                            </div>
                        </div>
                        <div class="right-2">
                            <h4>{{LANG.FlyForward_Corp}}.</h4>
                            <p>{{LANG.The_Next_Tech_Of_Aviation}}</p>
                            <div class="right-raised">
                                <div>
                                    <p>{{LANG.Amount_Raised}}</p>
                                    <h5>SAR 6550</h5>
                                </div>
                                <div>
                                    <p>{{LANG.Amount_Paid}}</p>
                                    <h5 class="paid-sr">SAR 520</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-second">
                        <div class="right-raised">
                            <div>
                                <p>{{LANG.Due_this_month}}</p>
                                <h5>SAR 6550</h5>
                            </div>
                            <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>