<section class="container-fluid weather sec6 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-8  rate-left">
                <div class="campaign-blue ">
                    <div>
                        <h2>{{opertunityDetailList.tagline}}</h2>
                    </div>
                </div>
                <div class="col-9">
                <!-- <img   src="{{opertunityDetailList.campaign_images[0].image}}" class="w-100 add-img-wrapper" alt="" /> -->
                <img   src="assets/images/add-img.png" class="w-100 add-img-wrapper" alt="" />
            </div>
                <p>{{opertunityDetailList.company_bio}}</p>
            </div>
            <div class="col-md-4 rate-right">
                <div class="rate">
                    <div>
                        <h4>SAR {{opertunityDetailList.total_valuation}}</h4>
                    </div>
                    <!-- <span><i class="fa fa-heart-o"></i></span> -->
                </div>
                <div class="row invest-row">
                    <div class="col-md-6">
                        <div class="invest">
                            <p>{{LANG.Investers}}</p>
                            <h6>{{opertunityDetailList.investers}}</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="invest">
                            <p>{{LANG.Raised}}</p>
                            <h6>SAR {{opertunityDetailList.raised}}</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="invest">
                            <p>{{LANG.Price_Per_Share}}</p>
                            <h6>SAR {{opertunityDetailList.share_price}}</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="invest">
                            <p>{{LANG.Valuation}}</p>
                            <h6>SAR {{opertunityDetailList.total_valuation}}</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="invest">
                            <p>{{LANG.Max_Investment}}</p>
                            <h6>SAR {{opertunityDetailList.max_investment}}</h6>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" *ngIf="user_data.role_type==2" data-toggle="modal" data-target="#investmentModal"> {{LANG.investment}}</button>
                    <!-- Button trigger modal -->
                </div>

                <!-- Modal -->
                <div class="modal fade" id="investmentModal" tabindex="-1" role="dialog" aria-labelledby="investmentModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{LANG.Modal_title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <form [formGroup]="amountForm">
                          <title>{{LANG.Amount}}:</title>
                          <input type="text" placeholder="Enter the amount" formControlName="amount">
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LANG.Close}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onPay()">{{LANG.Pay}}</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->


                <!-- Modal -->
                <div class="modal fade" id="mastercardModal" tabindex="-1" role="dialog" aria-labelledby="mastercardModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{LANG.Close}}</button>
                        <button type="button" class="btn btn-primary" >{{LANG.Save_changes}}</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row allocation">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="nav-sukuk-tab" data-toggle="tab" href="#nav-sukuk" role="tab" aria-controls="nav-sukuk" aria-selected="false">Sukuk Posit</a>
              <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="true">{{LANG.About}}</a>
              <a class="nav-item nav-link" id="nav-allocation-tab" data-toggle="tab" href="#nav-allocation" role="tab" aria-controls="nav-allocation" aria-selected="false">{{LANG.Allocation}}</a>
              <a class="nav-item nav-link" id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab" aria-controls="nav-team" aria-selected="false">{{LANG.Team}}</a>
              <a class="nav-item nav-link" id="nav-updates-tab" data-toggle="tab" href="#nav-updates" role="tab" aria-controls="nav-updates" aria-selected="false">{{LANG.Updates}}</a>
              <a class="nav-item nav-link" id="nav-terms-tab" data-toggle="tab" href="#nav-terms" role="tab" aria-controls="nav-terms" aria-selected="false">{{LANG.Terms}}</a>
              <a class="nav-item nav-link" id="nav-campainAttach-tab" data-toggle="tab" href="#nav-campainAttach" role="tab" aria-controls="nav-campainAttach" aria-selected="false">Campaign Attachements</a>
            </div>
          </nav>
        </div>
        <br/>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <p>About Tab content Here.</p>
          </div>
          <div class="tab-pane fade" id="nav-allocation" role="tabpanel" aria-labelledby="nav-allocation-tab">
            <p>Allocation Tab Content here .</p>
          </div>
          <div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
            <p>Team Tab content here .</p>
          </div>
          <div class="tab-pane fade" id="nav-updates" role="tabpanel" aria-labelledby="nav-updates-tab">
            <p>Updates Tab content here .</p>
          </div>
          <div class="tab-pane fade" id="nav-terms" role="tabpanel" aria-labelledby="nav-terms-tab">
            <p>Terms Tab content here .</p>
          </div>
          <div class="tab-pane fade" id="nav-campainAttach" role="tabpanel" aria-labelledby="nav-campainAttach-tab">
            <div class="col-md-7">
              <!-- <div class="table-first">
                <p>Campaign Attachements Tab content here .</p>
              </div> -->
              <div class="table-responsive table-section">
                    <table class="table table-borderless ">
                        <tbody>
                            <tr *ngFor="let attach of campaignAttachements">
                                <td class="detail-name">
                                  <span>ID</span>
                                    <div class="date-name">
                                        <h4>{{attach.id}}</h4>
                                    </div>
                                </td>
                                <td class="invest">
                                  <span>Compaign</span>
                                  <div class="date-name">
                                    <h4>{{attach.campaign_id}} - {{opertunityDetailList.tagline}}</h4>
                                </div>
                              </td>
                              <td class="invest">
                                <span>Status</span>
                                <div class="date-name">
                                  <h4>{{attach.status == 'A'?LANG.Approved:LANG.Pending}}</h4>
                              </div>
                              </td>
                              <td  class="invest">
                                <span>Attachment</span>
                                <div class="add-image span img ">
                                  <a href="{{attach.attachment}}" target="_blank">
                                      <!-- <img src="../../../../assets/images/open_file.png" alt="Open File"> -->
                                      <img src="assets/images/flower-1.png" class="" *ngIf="attach.ext != 'pdf' && attach.ext != 'docx'">
                                      <img src="assets/images/pdf-logoS.png" class="" *ngIf="attach.ext == 'pdf'">
                                      <img src="assets/images/flower-1.png" class="" *ngIf="attach.ext == 'docx'">
                                  </a>
                                </div>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-first">
                  <h4>{{campaignAttachements.message}}</h4>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-sukuk" role="tabpanel" aria-labelledby="nav-sukuk-tab">
           <app-sukuk-posit></app-sukuk-posit>
          </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
