<div class="campaign-tab">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" routerLink="/add-kyc">{{
        LANG.Kyc_Details
      }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/my-profile">{{
        LANG.Edit_Profile
      }}</a>
    </li>
    <li class="nav-item" *ngIf="user_data?.role_type == 2">
      <a class="nav-link" data-toggle="tab" routerLink="/campaign-list">{{
        LANG.View_Opportunity
      }}</a>
    </li>
    <li class="nav-item" *ngIf="user_data?.role_type == 3">
      <a
        class="nav-link"
        data-toggle="tab"
        routerLink="/add-campaign"
        *ngIf="profileDetails.kyc_approved_status == 1"
      >
        {{ LANG.Add_Opportunity }}</a
      >
    </li>
  </ul>
</div>
