li.nav-item.dropdown {
    list-style: none;
    cursor: pointer;
    width: auto;
}
.dropdown-toggle {
    background-color: rgb(240, 240, 240);
}
.card-title {
    text-decoration: none !important;
}
li.nav-item.dropdown span,
li.nav-item.dropdown i {
    font-size: 18px;
}

.language a {
    /* text-decoration: underline; */
    cursor: pointer;
}

.language {
    text-align: right;
}

.head-button button {
    border: none;
}

.navbar-nav li a,
.navbar-brand img {
    cursor: pointer;
}

.navbar-nav {
    margin-left: 0;
}

#navbarSupportedContent {
    justify-content: flex-end;
}


/* #navbarSupportedContent ul {
    width: 60%;
} */

.dropdown-menu {
    padding: 15px;
}

.version {
    position: absolute;
    top: 0;
}

.version img {
    width: 150px;
    height: 35px;
}

.header {
    padding: 40px 60px;
    padding-bottom: 15px;
}


/* .language a:hover{
    color: white;
} */

.navbar-nav a .hov-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #00C48A;
    transition: 0.4s;
}

.navbar-nav a:hover,
.header.sticky .navbar-nav a:hover {
    color: #00C48A;
}

.navbar-nav a:hover .hov-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.head-drop {
    width: 382px;
    box-shadow: 0px 5px 30px #1a184326;
    border-radius: 14px;
    left: -83px;
    padding: 40px;
}

.drop-row {
    justify-content: space-between;
}

.drop-row h5 {
    font-size: 14px;
    color: #160034;
    padding-bottom: 11px;
    font-weight: 600;
}

.drop-row a {
    font-size: 12px;
    /* color: #160034; */
    color: #1600348a;
    display: block;
    margin-bottom: 10px;
}

.drop-row a:before{
  background: none;
}

.drop-row {
    grid-row-gap: 20px;
}

button {
    cursor: pointer;
}
