<section class="login-pad">

    <div class="form-sec">
        <ng-container *ngIf="!show_otp">
            <h2>{{LANG.Login_your_account}}</h2>
            <p>{{LANG.Please_enter_your_details_below}}</p>
            <div class="form-group">
                    <!-- <div class="country-code">
                        <select name="country_code" [(ngModel)]="country_code" (change)="changeCountryCode()">
                            <option value="+966">+966</option>
                            <option value="+91">+91</option>
                        </select>
                    </div> -->
                    <!-- <input type="text" placeholder="Mobile Number *" class="form-control" name="mobile_number" maxlength="10" [(ngModel)]="mobile_number" (keypress)="onlyNumbers($event)" (paste)="restrictAlphabets($event)"> -->
                    <input type="text" class="form-control" placeholder="{{LANG.Email}}"name="email" [(ngModel)]="email">
                <!-- <span class="error" *ngIf="login_error.mobile_number">{{LANG.This_field_is_required}}</span>
                <span class="error" *ngIf="login_error.mobile_number_valid && country_code == '+966'">{{LANG.Enter_valid_Mobile_Number}} (Ex: 0551234567 or 551235678)</span>
                <span class="error" *ngIf="login_error.mobile_number_valid && country_code != '+966'">{{LANG.Enter_valid_Mobile_Number}}</span> -->
                <span class="error" *ngIf="login_error.email_id">{{LANG.This_field_is_required}}</span>
                <span class="error" *ngIf="login_error.email_id_valid">{{LANG.Enter_valid_Email_Id}}</span>
            </div>
            <div class="form-group" *ngIf="show_password">
                <input class="form-control" type="password" placeholder="Password *" name="password" [(ngModel)]="password">
                <span class="error" *ngIf="login_error.password">{{LANG.This_field_is_required}}</span>
                <span class="error" *ngIf="login_error.password_valid">{{LANG.Password_must_be_8_characters_or_more}}</span>
                <!-- <a href="#">Forgot?</a> -->
            </div>
            <div class="submit-button text-center">
                <button class="btn" [class.loading]="load" (click)="sendOTP()">
                    <ng-container *ngIf="load;else noLoader;">
                        <loader></loader>
                    </ng-container>
                    <ng-template #noLoader>
                        {{LANG.LOGIN}}
                    </ng-template>
                </button>

            </div>
            <!-- <p>Don’t have an account?<a href="#">Sign up</a></p> -->
            <p class="cursor-pointer" (click)="showLoginPassword()">{{show_password ? LANG.Login_with_Email : LANG.Login_with_Password}}</p>
            <p class="cursor-pointer" (click)="forgetPassword()">{{LANG.Forget_Password}}</p>
        </ng-container>

        <ng-container *ngIf="show_otp">
            <div class="heading  text-center">
              <h2>{{LANG.Verify_OTP}}</h2>
              <span>{{LANG.A_verification_code_has_been_sent_to}}
                <p *ngIf="mobile_number" class="mt-0 mb-2">{{country_code}} {{mobile_number}}</p>
              </span>
            </div>
            <form>
              <div class="row">
                <div class="col-md-12 p-0">
                  <div class="otp-field">
                      <input type="text" name="o1" id="codeBox1" maxlength="1" [(ngModel)]="otp1" #codeBox1 (keyup)="onKeyUpEvent(1,$event)" (onfocus)="onFocusEvent(1)" (keypress)="keyPressed($event,1)" autocomplete="off">
                      <input type="tel" name="o2" id="codeBox2" maxlength="1" [(ngModel)]="otp2" #codeBox2 (keyup)="onKeyUpEvent(2,$event)" (onfocus)="onFocusEvent(2)" (keypress)="keyPressed($event,2)" autocomplete="off">
                      <input type="tel" name="o3" id="codeBox3" maxlength="1" [(ngModel)]="otp3" #codeBox3 (keyup)="onKeyUpEvent(3,$event)" (onfocus)="onFocusEvent(3)" (keypress)="keyPressed($event,3)" autocomplete="off">
                      <input type="tel" name="o4" id="codeBox4" maxlength="1" [(ngModel)]="otp4" #codeBox4 (keyup)="onKeyUpEvent(4,$event)" (onfocus)="onFocusEvent(4)" (keypress)="keyPressed($event,4)" autocomplete="off">
                      <!-- <input type="tel" name="o5" id="codeBox5" maxlength="1" [(ngModel)]="otp5" #codeBox5 (keyup)="onKeyUpEvent(5,$event)" (onfocus)="onFocusEvent(5)" (keypress)="keyPressed($event,5)" autocomplete="off">
                      <input type="tel" name="o6" id="codeBox6" maxlength="1" [(ngModel)]="otp6" #codeBox6 (keyup)="onKeyUpEvent(6,$event)" (onfocus)="onFocusEvent(6)" (keypress)="keyPressed($event,6)" autocomplete="off"> -->
                  </div>
                  <div class="otp-error">
                    <span class="error" *ngIf="login_error.otp">{{LANG.Please_Enter_valid_OTP}}</span>
                  </div>
                </div>
                <div class="row w-100 justify-content-center mt-3">
                    <div class="col-md-12">
                        <div class="submit-button text-center">
                            <button class="btn w-50" [class.loading]="load" (click)="verifyOtp()">
                                <ng-container *ngIf="load;else otp_loader;">
                                    <loader></loader>
                                </ng-container>
                                <ng-template #otp_loader>
                                   {{LANG.Verify_OTP}}
                                </ng-template>
                            </button>

                        </div>
                        <div class="resend mb-0 text-center">
                            <p id="countdown"></p>
                            <p *ngIf="showResend" class="cursor-pointer mt-0" (click)="resendAgain()">{{LANG.Resend_OTP}}</p>

                          </div>
                    </div>
                </div>

              </div>
            </form>
          </ng-container>

    </div>
    <div class="form-last">
        <img src="assets/images/tick.svg">
        <p>
            <b>{{LANG.bit}}</b>
            {{LANG.Secured_payment}}
        </p>
    </div>
    <div class="form-footer">
        <p>{{LANG.Copyrights}}</p>
    </div>
</section>
