<div class="container">
    <div class="padd">
        <h4>{{LANG.Terms_Conditions}}</h4>
        <div class="details">
            <h5>{{LANG.terms_head_one}}</h5>
            <p>{{LANG.terms_content_one}}</p>
        </div>
        <div class="details">
            <h5>{{LANG.terms_head_two}}</h5>
            <p>1.	التنافسية المالية: شركة التنافسية المالية ذات السجل التجاري رقم (1010818020) وتاريخ 12/01/1444هـ، ومقرها بمدينة الرياض.</p>
            <p>2.	المستخدم: هو الشخص الطبيعي أو الاعتباري المستفيد من خدمات منصة التنافسية المالية.</p>
            <p>3.	المنصة: هي المنصة الإلكترونية لشركة التنافسية المالية والتي تقدم من خلال الموقع الإلكتروني خدمات إصدار أدوات الدين والاستثمار فيها للمنشآت طالبة التمويل.</p>
            <p>4.	مخاطر إعسار المصدر: هي خطر إعسار الشريك -الشركة- ويؤدي ذلك إلى إفلاس حملة الصكوك إلى خسارة كلية.</p>
            <p>5.	مخاطر التأرجح: هي سوء تصرف الموظفين أو الأعضاء مما ينتج عنه بشكل مباشر أو غير مباشر وتؤدي إلى إلى الإعسار.</p>
            <p>6.	مخاطر عدم توزيع الاستثمار: هي عدم تحقيق المستثمر أي تنويع في المحفظة الاستثمارية، ويمكن تجنيبها بتوزيع مبالغ الاستثمار على شركات متعددة.</p>
            <p>7.	صعوبة التخارج: هي ظروف خاصة لقابلية التخارج ولا توجد سوق ثانوية لتداول الصكوك في هذه اللحظة.</p>
            <p>8.	نظام مكافحة جرائم المعلوماتية: الصادر بالمرسوم الملكي رقم (م/17) عام 1428هـ.</p>
            <p>9.	نظام مكافحة غسل الأموال: الصادر بالمرسوم الملكي رقم (م/20) عام 1439هـ</p>
        </div>
        <div class="details">
            <h5>{{LANG.terms_head_three}}</h5>
            <p>1.	هي منصة عبر الإنترنت تمكن المستخدمين من الوصول إلى العروض المقدمة من قبل الشركات المدرجة في المنصة من خلال إصدار أدوات الدين والاستثمار بها، والاستثمار فيها على أساس اتفاقية استثمار، ولهذا الغرض تنشر الشركات معلوماتها عبر المنصة.</p>
            <p>2.	في حالة الاستثمار من قبل المستخدمين لا تصبح التنافسية المالية طرفًا متعاقدًا بنفسها، ويبرم الاستثمار فقط بين المستخدمين والشركة المستثمر بها.</p>
            <p>3.	يجب على الشركة المصدرة التي تقدم دعوتها للمستخدمين لتقديم عروضهم بناء على حملة إصدار الصكوك توفير المعلومات الخاصة بالاستثمار الجماعي على منصة التنافسية المالية.</p>
            <p>4.	لا تتحمل التنافسية المالية مدى مصداقية البيانات التي تقدمها الشركة المصدرة.</p>
            <p>5.	تسعى التنافسية المالية لتطوير خدماتها باستمرار، مما قد يستدعي في بعض الأحيان بإلغاء الخدمة مؤقتا أو بشكل دائم.</p>
            <p>6.	يسري استخدام المنصة داخل المملكة العربية السعودية فقط.</p>
        </div>
        <div class="details">
            <h5>{{LANG.terms_head_four}}</h5>
            <p>{{LANG.terms_content_four}}</p>

        </div>
        <div class="details">
            <h5>{{LANG.terms_head_five}}</h5>
            <p>1.	يجب التسجيل كمستخدم في بعض أقسام منصة التنافسية المالية</p>
            <p>2.	يدخل المستخدم في عقد استخدام مع شركة التنافسية المالية بمجرد التسجيل.</p>
            <p>3.	تقوم التنافسية المالية– في بعض الأحيان – بالتحقق من المستخدم باستخدام خدمة "يقين" المقدمة من "علم".</p>
            <p>4.	يجب على المستخدم أن يكون ذا أهلية وقدرة كافية على التعاقد.</p>
            <p>5.	لا يجوز للقاصرين التسجيل.</p>
            <p>6.	يجوز للتنافسية المالية فتح محفظة تكميلية بطلب من المستخدم ليستخدمها أشخاص دون الثامنة عشرة سنة</p>
            <p>7.	يتحمل من طلب فتح المحفظة التكميلية كامل المسؤولية عن استخدام المحفظة التكميلية، وتعتبرها التنافسية المالية جزءا من حساب محفظة المستخدم.</p>
            <p>8.	يمكن لمستخدم المحفظة التكميلية إيداع أو سحب أموال من المحفظة الاستثمارية.</p>
            <p>9.	يجب تقديم كافة البيانات المطلوبة من الأفراد أو المنشآت للتنافسية المالية خلال عملية التسجيل، ويتحمل المستخدم المسؤولية الكاملة حال إدخاله البيانات غير الصحيحة خلال عملية التسجيل أو أي مرحلة من مراحل استخدام خدمات المحفظة.</p>
            <p>10.	يجب على المستخدم تقديم أي معلومات إضافية للتثبت من هويته أو لإثبات موثوقية أي أداة تمويل يسجلها المستخدم لاستخدامها مع التناقسية المالية.</p>
            <p>11.	يجوز للتنافسية المالية أو طرف ثالث تتعاقد معه القيام بكافة التحريات التي تراها ضرورية للتحقق من المعلومات التي يتم تقديمها للتنافسية المالية، على سبيل المثال لا الحصر: فحص قواعد البيانات التجارية أو التقارير الائتمانية.</p>
            <p>12.	لا تضمن التنافسية المالية ما يجري أثناء اتخاذ إجراءات التحقق من هوية المستخدم.</p>
            <p>13.	يجب على المستخدم تصحيح بياناته فورا في حال تغيرها أو إدخالها بشكل غير كامل أو غير صحيح.</p>
            <p>14.	يجب على المستخدم التأكد من سرية كلمة المرور.</p>
            <p>15.	يجب إبلاغ التنافسية المالية فورا للاستخدام غير المصرح لكلمة المرور أو حساب المستخدم.</p>
            <p>16.	لا يجوز استخدام الحساب لغير المستخدم سواء كان ذلك الشخص طبيعيًا أو معنويًا.</p>
            <p>17.	تكون اتفاقية المستخدم واجبة على الطرفين من خلال النقر على رابط التأكيد المرسل عبر البريد الإلكتروني للمستخدم</p>
            <p>18.	تكون مدة اتفاقية المستخدم غير محددة بوقت معين</p>
            <p>19.	يحق للتنافسية المالية أو للمستخدم إنهاء اتفاقية المستخدم بأي وقت دون إشعار مسبق منها على سبيل المثال: حذف حساب المستخدم.</p>
            <p>20.	تطبق جميع حدود المسؤولية والتعويضات في هذه الاتفاقية، حتى بعد إنهاء اتفاقية المستخدم.</p>
        </div>
        <div class="details">
            <h5>{{LANG.terms_head_six}}</h5>
            <p>1.	يجب على المستخدم تعبئة النماذج على منصة التنافسية المالية والنقر على زر "استثمر" نهاية النموذج.</p>
            <p>2.	يقر المستخدم بقبول الاستثمار في الشركة المصدرة ووفقًا لشروطها.</p>
            <p>3.	يجب بلوغ الحد الأدنى لمبلغ الاستثمار للجولة والمتفق عليه مع الشركة المصدرة سلفًا لكي تكون اتفاقية الاستثمار نافذة.</p>
            <p>4.	يجوز إبرام عقد مكتوب بالإضافة إلى الإجراء المذكور أعلاه.</p>
            <p>5.	يلتزم المستخدم باتفاق الاستثمار دون أي مطالبة بإبرام اتفاقية استثمار مستقلة.</p>
            <p>6.	تلتزم الشركة بالمدة المحددة لعرض الاستثمارات على منصة التنافسية المالية.</p>
            <p>7.	تلتزم التنافسية المالية بتزويد كافة الأطراف المتعاقدة بالبيانات اللازمة للتواصل مع الطرف الآخر.</p>
            <p>8.	تلتزم التنافسية المالية بإرسال جميع المستندات إلكترونيًا من خلال البريد الإلكتروني للمستخدم.</p>
            <p>9.	يتحمل المستخدم المسؤولية بكافة المستندات المرسلة من تلقاء نفسه بشكل إلكتروني أو مادي.</p>
            <p>10.	عملاً بنص المادة (73) من لائحة مؤسسات السوق المالية يلزم على الشركة الاحتفاظ بأموال العميل في حساب باسمه لدى أحد البنوك المحلية ويوافق العميل على أحقية التنافسية المالية بالحصول على جميع العوائد والأرباح العائدة من الاحتفاظ بأموال العملاء في هذه الحسابات. ويجوز للشركة أن تحتفظ بأموال العميل لدى بنك خارجي أو تنفيذ تحويل خارجي خصماً من حسابه لدى البنك المحلي أو من أمواله الأخرى لديها إذا كان ذلك ضرورياً لتسوية صفقة أوراق مالية خارج المملكة.</p>
        </div>
        <div class="details">
            <h5>{{LANG.terms_head_seven}}</h5>
            <p>1.	تتحمل التنافسية المالية المسؤولية نتيجة الإهمال الجسيم أو النية في حالة الإهمال العادي أو إذا فشلت في الوفاء بواجب يكون الوفاء به ضروريًا لأداء العقد على النحو الصحيح والذي يمكن أن يعتمد على الطرف المتعاقد الآخر – الواجب الأساسي -.</p>
            <p>2.	في كل الأحوال الأخرى لا يكون الطرفان مسؤولين عن أي أضرار من أي نوع بغض النظر عن موضوع المطالبة بما في ذلك المسؤولية عن العقد.</p>
            <p>3.	في حال بطلان اتفاقية الوكالة بالاستثمار تقتصر المطالبات المحتملة للمستخدم ضد التنافسية المالية الناتجة عن هذه الحقيقة على استرداد مبلغ الاستثمار فقط.</p>
            <p>4.	لا تتحمل التنافسية المالية أي مسؤولية إضافية على ما ذكر أعلاه، منها الحالات الآتية: خصائص الخدمات أو الأضرار المستحقة وفقا لحدود المسؤولية للمنتج أو الأضرار الناجمة عن فقدان الحياة أو الإصابة الجسدية أو الأضرار بالصحة.</p>
            <p>5.	تشمل المسؤولية موظفي التنافسية المالية والوكلاء المباشرين والأطراف الثالثة الأخرى التي تستخدمها التنافسية المالية للوفاء بالعقد.</p>
            
        </div>
        <div class="details">
            <h5>{{LANG.terms_head_eight}}</h5>
            <p>1.	يجب على المستخدم العلم بأن الاستثمار في الشركات الناشئة والمصدرة بمنصة التنافسية المالية ذات مخاطر عالية وقد يؤدي إلى الخسارة الكاملة، فكلما ارتفع معدل العائد المتوقع من الاستثمار كلما زاد خطر الخسارة.</p>
            <p>2.	يجب على المستخدم العلم بأن الاستثمار طويل الأجل وذلك من خلال تقييم الفرص وإجمالي مخاطر الخسارة ومخاطر الإعسار ومخاطر التأرجح ومخاطر عدم توزيع الاستثمار وصعوبة التخارج والمخاطر المرتبطة بأنشطة الاستثمار والالتزامات أو التنبؤات حول الأداء المستقبل.</p>
            <p>3.	تلتزم التنافسية المالية بدورها في المنصة، ولا تقدم خدمات أعمال الاستشارة.</p>
            <p>4.	تلتزم الشركات المصدرة بصحة البيانات المقدمة، وتخلي التنافسية المالية مسؤوليتها عن مدى مصداقية البيانات.</p>
            <p>5.	لا تضمن التنافسية المالية التوقعات المستقبلية للتطوير الناجح التي تقدمها الشركات المصدرة، ويتحمل المستخدم كافة القرارات الاستثمارية بشكل مستقل ويتحمل أي مخاطر مستقبلية.</p>
            <p>6.	للمستخدم وحده الخيار في الاستثمار في الشركة المطروحة أم لا.</p>
            <p>7.	يجب على المستخدم الاطلاع على كافة العواقب النظامية والاقتصادية والضريبية ذات الصلة بالاستثمار قبل الاستثمار وأثناء فترة الاحتفاظ.</p>
        </div>
        
    </div>
</div>