<section class="container-fluid investor bg-white">
    <div class="col-md-12 mx-auto">
        <div class="investor-tab">
            <div class="tab-content">
                <div class="tab-pane col-md-12 active" id="newest">
                    <div class="row investor-row">
                        <ng-container *ngIf="campaign_list.length > 0">
                            <div class="col-md-6" *ngFor="let data of campaign_list">
                                <div class="investor-cont cursor-pointer" (click)="view(data)">
                                    <img src="assets/images/add-img.png" class="w-100" alt="No Immage Found " />

                                    <div class="investor-weather">
                                        <h3>{{data.tagline}}</h3>
                                        <p>{{data.terms}}</p>
                                        <div class="progress" >
                                            <div class="progress-bar" style="width:70%"></div>
                                        </div>
                                        <div class="invest-rate">
                                            <div class="pledged-rate">
                                                <p><span>{{LANG.Min_Investment}} {{data.min_investment}} SAR</span></p>
                                                <p><span>{{LANG.Max_Investment}} {{data.max_investment}} SAR</span></p>
                                                <p>{{LANG.Total_Valuation}} {{data.total_valuation}} SAR</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="campaign_list.length == 0 && data_loaded">
                            <div class="col-md-12 p-5">
                                <h3>
                                    {{LANG.Sorry_No_data_to_display}}
                                </h3>
                            </div>
                        </ng-container>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>








<!-- ========================== New Page =============================== -->
<!--<div class="campaign-tab">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all">{{LANG.All_Campaign}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#closed">{{LANG.Closed_Campaign}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active " id="all">
            <div class="campaign-tab-detail" *ngFor="let data of campaign_list">
                <div class="tempest">
                    <span class="image-flo"><img src="assets/images/flower-1.png" alt=""></span>
                    <div class="weather-flo">
                        <h5>{{data.tagline}}</h5>
                        <p>{{data.terms}}</p>
                        <div class="sar-rup">
                            <h4>SAR {{data.total_valuation}}</h4>
                            -- <p>75% Funded</p> --
                        </div>
                        <div class="progress mb-2">
                            <div class="progress-bar" style="width:70%"></div>
                        </div>
                        <div class="pledged">
                            <p>Pledged Of SAR 9,500 Goal</p>
                            <button class="btn">2 days left</button>
                        </div>
                        <button class="btn">Submitted For Review</button>
                    </div>
                </div>
                <button class="btn right-arrow" (click)="view(data)"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
            <div class="campaign-tab-detail">
                <div class="tempest">
                    <span class="image-flo"><img src="assets/images/flower-1.png" alt=""></span>
                    <div class="weather-flo">
                        <h5>FlyForward Corp.</h5>
                        <p>The Next Tech Of Aviation</p>
                        <div class="sar-rup">
                            <h4>SAR 6550</h4>
                            <p>75% Funded</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width:70%"></div>
                        </div>
                        <div class="pledged">
                            <p>Pledged Of SAR 9,500 Goal</p>
                            <button class="btn">2 days left</button>
                        </div>
                    </div>
                </div>
                <div class="campaign-last">
                    <p>Investers</p>
                    <h6>123</h6>
                </div>
                <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="tab-pane  " id="closed">
            <div class="campaign-tab-detail">
                <div class="tempest">
                    <span class="image-flo"><img src="assets/images/flower-1.png" alt=""></span>
                    <div class="weather-flo">
                        <h5>WeatherFlow-Tempest, Inc.</h5>
                        <p>Controlling The Cost Of Weather</p>
                        <button class="btn">Submitted For Review</button>
                    </div>
                </div>
                <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
            <div class="campaign-tab-detail">
                <div class="tempest">
                    <span class="image-flo"><img src="assets/images/flower-1.png" alt=""></span>
                    <div class="weather-flo">
                        <h5>FlyForward Corp.</h5>
                        <p>The Next Tech Of Aviation</p>
                        <div class="sar-rup">
                            <h4>SAR 6550</h4>
                            <p>75% Funded</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width:70%"></div>
                        </div>
                        <div class="pledged">
                            <p>Pledged Of SAR 9,500 Goal</p>
                            <button class="btn">2 days left</button>
                        </div>
                    </div>
                </div>
                <div class="campaign-last">
                    <p>Investers</p>
                    <h6>123</h6>
                </div>
                <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>-->
