<div class="campaign-tab">
    <ul class="nav nav-tabs" *ngIf="user_data.role_type==3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#total">{{LANG.Total_Opportunities}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#closed" (click)="closedOpertunity()">{{LANG.Closed_Opportunities}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="total">
            <div class="col-md-7 mx-auto">
                <!-- <h5>Total Opportunities</h5> -->
                <div class="campaign-tab-detail" *ngFor="let details of totalDetails">
                    <!-- <div class="tempest">
                        <span class="image-flo"><img src="assets/images/flower-1.png" alt=""></span>
                        <div class="weather-flo">
                            <h5>{{details.tagline}}</h5>
                            <p>{{details.reason_to_invest}}</p>
                            <button class="btn submit-weather">Submit</button>
                        </div>
                    </div>
                    <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button> -->

                <div class="campaign-tab-detail tempest" >
                    <div class="tempest">
                        <span class="image-flo"><img src="{{details?.campaign_images[0].image}}" alt=""></span>
                        <div class="weather-flo">
                            <h5>{{details.tagline}}</h5>
                            <p>{{details.reason_to_invest}}</p>
                            <div class="sar-rup">
                                <h4>{{details?.total_valuation}}SAR</h4>
                                <p>{{percantageInvestment(details.raised,details.total_valuation)}}% Funded</p>
                            </div>
                            <div class="progress" >
                                <div class="progress-bar" [style.width.%]="percantageInvestment(details.raised,details.total_valuation)"></div>
                            </div>
                            <div class="pledged">
                                <p>Pledged Of SAR {{details?.raised}} Goal</p>
                            </div>
                        </div>
                    </div>
                    <div class="campaign-last">
                        <p>{{LANG.Investers}}</p>
                        <h6>{{details?.investers}}</h6>
                        <!-- <div class="counting">
                            <p>Closing In</p>
                            <div class="coming-counting" id="coming_soon"></div>
                        </div> -->
                    </div>
                    <button class="btn right-arrow" (click)="navTo(details)"><i class="fa fa-chevron-right" aria-hidden="true" *ngIf="details?.status==1"></i></button>
                    <button class="btn right-arrow" (click)="navToLoan()"><i class="fa fa-chevron-right" aria-hidden="true" *ngIf="details?.approve_loan==0"></i></button>

                </div>
                </div>
            </div>
        </div>
        <div class="tab-pane active" id="closed" *ngIf="user_data?.role_type==3">
            <div class="col-md-7 mx-auto" *ngIf="closedOPpertunity==true">
                <!-- <h5>Closed Opportunities</h5> -->
            </div>
            <div *ngIf="totalDetails.status==2">
                <div class="campaign-tab-detail" *ngFor="let details of closedDetails">
                    <div class="tempest">
                        <span class="image-flo"><img src="assets/images/flower-1.png" alt=""></span>
                        <div class="weather-flo">
                            <h5>{{details.tagline}}</h5>
                            <p>{{details.reason_to_invest}}</p>
                            <div class="sar-rup">
                                <h4>{{details.total_investment}}SAR</h4>
                                <p>{{percantageInvestment(details.total_investment,details.total_valuation)}}% {{LANG.Funded}}</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" [style.width.%]="percantageInvestment(details.total_investment,details.total_valuation)"></div>
                            </div>
                            <div class="pledged">
                                <p>{{LANG.Pledged_Of_SAR}} {{details?.total_valuation}} {{LANG.Goal}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="campaign-last">
                        <p>{{LANG.Investers}}s</p>
                        <h6>{{details?.investor}}</h6>
                        <div class="counting">
                            <p>{{LANG.Fundin_Status}}</p>
                            <div class="coming-counting" id="coming_soon">{{LANG.Closedp}}</div>
                        </div>
                    </div>
                    <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="tab-pane active" id="total" *ngIf="user_data?.role_type==2">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#total" (click)="openOppertunity()">{{LANG.Total_Opportunities}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#closed" (click)="closedOpertunity()">{{LANG.Closed_Opportunities}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="total" *ngIf="openOPpertunityInvester==true">
                    <div class="col-md-7 mx-auto">
                        <h5>{{LANG.Total_Invested}}</h5>
                        <!-- <div class="campaign-tab-detail" *ngFor="let details of totalDetails">
                        <div class="tempest">
                            <span class="image-flo"><img src="assets/images/flower-1.png" alt=""></span>
                            <div class="weather-flo">
                                <h5>{{details.tagline}}</h5>
                                <p>{{details.reason_to_invest}}</p>
                                <button class="btn submit-weather">Submit</button>
                            </div>
                        </div>
                        <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div> -->
                        <div class="campaign-tab-detail" *ngFor="let details of investedDetails">

                            <div class="tempest">
                                <span class="image-flo"><img src="{{details?.campaign_images[0].image}}" alt=""></span>
                                <div class="weather-flo">
                                    <h5>{{details.tagline}}</h5>
                                    <p>{{details.reason_to_invest}}</p>
                                    <div class="sar-rup">
                                        <h4>{{details.total_valuation}}SAR</h4>
                                        <p>{{percantageInvestment(details.raised,details.total_valuation)}}% Funded</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" [style.width.%]="percantageInvestment(details.raised,details.total_valuation)"></div>
                                    </div>
                                    <div class="pledged">
                                        <p>{{LANG.Pledged_Of_SAR}} {{details.raised}} {{LANG.Goal}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="campaign-last">
                                <p>{{LANG.Investers}}</p>
                                <h6>{{details?.investers}}</h6>

                            </div>
                            <button class="btn right-arrow" (click)="navToDetailsInvest(details)" *ngIf="details?.approved_status==1"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            <button class="btn right-arrow" (click)="navToDetailsInvestNull(details)" *ngIf="details?.approved_status==null"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>

                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="closed" *ngIf="closedOPpertunityInvester==true">
                    <div class="col-md-7 mx-auto">
                        <h5>{{LANG.Closed_investment}}</h5>

                        <div>
                            <div class="campaign-tab-detail" *ngFor="let details of closedInvestedDetails">
                                <div class="tempest">
                                    <span class="image-flo"><img src="assets/images/flower-1.png" alt=""></span>
                                    <div class="weather-flo">
                                        <h5>{{details.tagline}}</h5>
                                        <p>{{details.reason_to_invest}}</p>
                                        <!-- <div class="sar-rup">
                                            <h4>{{details.total_investment}}SAR</h4>
                                            <p>{{percantageInvestment(details.total_investment,details.raised)}}% Funded</p>
                                        </div> -->
                                        <!-- <div class="progress">
                                            <div class="progress-bar" [style.width.%]="percantageInvestment(details.total_investment,details.raised)"></div>
                                        </div> -->
                                        <div class="pledged">
                                            <p>{{LANG.Pledged_Of_SAR}} {{details?.total_valuation}} {{LANG.Goal}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="campaign-last">
                        <p>Investers</p>
                        <h6>{{details?.investor}}</h6>
                        <div class="counting">
                            <p>Fundin Status</p>
                            <div class="coming-counting" id="coming_soon">Closedp</div>
                        </div>
                    </div> -->
                            <!-- <button class="btn right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button> -->
                        </div>
                    </div>
                </div>

            </div>
            <div>




            </div>
