<div><div class="campaign-tab">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="/add-kyc">{{LANG.Kyc_Details}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" routerLink="/my-profile">{{LANG.Edit_Profile}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="user_data?.role_type == 2" data-toggle="tab" routerLink="/qualified-investor">{{LANG.Be_Qualified_Investor}}</a>
      </li>
        <li class="nav-item" *ngIf="user_data?.role_type == 2">
          <a class="nav-link" data-toggle="tab" routerLink="/campaign-list">{{LANG.View_Opportunity}}</a>
      </li>
    <li class="nav-item" *ngIf="user_data?.role_type == 3">
      <a class="nav-link" data-toggle="tab" routerLink="/add-campaign"
          *ngIf="profileDetails.kyc_approved_status==1"> {{LANG.Add_Opportunity}}</a>
  </li>
    </ul>
</div>
<div class="site_wrapper profiles-bg-grey wrap">


    <div class="profile_page mb-5">

        <div class="address m-0"></div>

        <!-- <div class="container">
            <div class="row">
                <div class="col-md-4 company-fund"> -->


                            <a class="nav-link" routerLink="/my-profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" id="tab1-tab" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="true">

                    </a>

                        <!-- <li class="nav-item">
                            <a class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" id="tab1-tab" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="true">
                      KYC Details
                    </a>
                        </li> -->

                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink="/my-profile/user-campaigns" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" id="tab1-tab" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="true">
                            My Funding Campaign
                    </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="" id="tab1-tab" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="true">
                              Push Updates
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="" id="tab1-tab" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="true">
                                Company Info
                            </a>
                        </li>
                        <ng-container>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/my-profile/operations" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" id="tab1-tab" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="true">
                                    Statements
                                </a>
                            </li>
                        </ng-container> -->


                    <!-- </ul>
                </div> -->
                <div class="col-md-8">
                    <div class="tab-content pl-4" id="myProfileContent">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- </div> -->
<!-- </div> -->
