<div class="campaign-details container-fluid">
    <div class="container">
        <button class="btn back"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</button>
        <div class="row campaign-row-btn">
            <div class="campaign-blue">
                <span class="black-img"><img src="assets/images/flower-1.png" alt=""></span>
                <div>
                    <h2>{{LANG.WeatherFlow_Tempest_Inc}}.</h2>
                    <h6>{{LANG.Controlling_the_Cost_of_Weather}}</h6>
                    <div>
                        <span class="globe-img"><img src="assets/images/globe.png" alt="">www.weatherflow.temp</span>
                        <span class="globe-img"><img src="assets/images/map.png" alt="">Riyadh, Saudi Arabia</span>
                    </div>
                </div>
            </div>
            <div class="chart-container col-md-5">
                <div class="chart" data-percent="5%" data-bar-color="#00C48A">
                    <span class="percent" data-after="%">5</span>
                    <p>{{LANG.Amount_Paid}}</p>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs wallet-tab">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#history">{{LANG.Transaction_History}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#payments">{{LANG.Upcoming_Payments}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid detail-2">
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane active " id="history">
                <div class="row detail2-row">
                    <div class="col-md-7">
                        <div class="table-first">
                            <p>{{LANG.Transaction_History}}</p>
                            <div class="dropdown">
                                <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                                    {{LANG.Sort_By_Recent}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">{{LANG.Recent}}</a>
                                    <a class="dropdown-item" href="#">{{LANG.Recent}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-section">
                            <table class="table table-borderless ">
                                <tbody>
                                    <tr>
                                        <td class="detail-name">
                                            <img src="assets/images/flower-1.png" alt="">
                                            <div class="date-name">
                                                <h4>May 2022 {{LANG.Installment_paid}}</h4>
                                                <p>Date : 22 Oct 2020, 10:pm</p>
                                            </div>
                                        </td>
                                        <td class="invest">
                                            <span>{{LANG.Transaction_ID}}</span>
                                            <p>86738468293694</p>
                                        </td>
                                        <td class="invest">
                                            <span>{{LANG.Invested}}</span>
                                            <p> SAR 10,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-name">
                                            <img src="assets/images/flower-1.png" alt="">
                                            <div class="date-name">
                                                <h4>May 2022 {{LANG.Installment_paid}}</h4>
                                                <p>Date : 22 Oct 2020, 10:pm</p>
                                            </div>
                                        </td>
                                        <td class="invest">
                                            <span>{{LANG.Transaction_ID}}</span>
                                            <p>86738468293694</p>
                                        </td>
                                        <td class="invest">
                                            <span>{{LANG.Invested}}</span>
                                            <p> SAR 10,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-name">
                                            <img src="assets/images/flower-1.png" alt="">
                                            <div class="date-name">
                                                <h4>May 2022 {{LANG.Installment_paid}}</h4>
                                                <p>Date : 22 Oct 2020, 10:pm</p>
                                            </div>
                                        </td>
                                        <td class="invest">
                                            <span>{{LANG.Invested}}</span>
                                            <p>86738468293694</p>
                                        </td>
                                        <td class="invest">
                                            <span>{{LANG.Transaction_ID}}</span>
                                            <p> SAR 10,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="detail-name">
                                            <img src="assets/images/flower-1.png" alt="">
                                            <div class="date-name">
                                                <h4>May 2022 {{LANG.Installment_paid}}</h4>
                                                <p>Date : 22 Oct 2020, 10:pm</p>
                                            </div>
                                        </td>
                                        <td class="invest">
                                            <span>{{LANG.Transaction_ID}}</span>
                                            <p>86738468293694</p>
                                        </td>
                                        <td class="invest">
                                            <span>{{LANG.Invested}}</span>
                                            <p> SAR 10,000</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="detail-right">
                            <div class="wallet-tab2">
                                <div>
                                    <p>{{LANG.Raised_amount}}</p>
                                    <h1>SAR 60,550</h1>
                                </div>
                                <span>SR 1,000</span>

                            </div>
                            <div class="top-invest">
                                <p>{{LANG.Monthly_Installment}}</p>
                            </div>
                            <div class="amount-raised">
                                <p>{{LANG.Amount_paid}}</p>
                                <p>SR 20,000</p>
                            </div>
                            <div class="amount-raised">
                                <p>{{LANG.Principle_paid}}</p>
                                <p>SR 1,000</p>
                            </div>
                            <div class="amount-raised">
                                <p>{{LANG.Principle_Left}}</p>
                                <p>SR 1,000</p>
                            </div>
                            <div class="amount-raised total">
                                <p>{{LANG.Due_payment}}</p>
                                <p>SR 19,000</p>
                            </div>
                            <div class=" button-amount">
                                <button class="btn">{{LANG.PAY_NOW}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>