.tab-background{
    padding: 50px;
    background-color: #fff;
    margin-bottom: 50px
}

.btn.btn-primary,.btn.btn-primary:active{
    border: none;
    background: none;
    color: #160034;
    text-decoration: underline;
}
.campaign-tab {
  margin-top: 107px;
}

.campaign-tab .nav-tabs {
  justify-content: center;
  background:#3c0d7c;
}

.campaign-tab .nav-tabs a {
  border-radius: 0;
  font-size: 14px;
  color: #FFFFFF;
  border: 0;
  font-family: 'maison-med';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 31px;
}
.Modalsize{
  padding: 29px;
  margin: 300px 600px;
  width: 750px;
}

.ModalWidth{
  width: 500px;
  height: 214px
}

.campaign-tab .nav-tabs a.active {
  background: #F3F5F7;
  color: #310075;
}

.btn {
  background-color: #310075;
}

.campaign-tab .tab-content {
  background: #F2F5F7;
  /* padding: 80px 15px 145px; */
}

.wallet-list {
  background: #F5F7F8;
  padding: 44px 15px 119px;
}

.wallet-left {
  background: #fff;
  border-radius: 22px;
  padding: 50px 50px 4px;
}

.wallet-left i {
  font-size: 53px;
}

.wallet-left h6 {
  font-size: 20px;
  padding: 33px 20px 21px 0;
}

.wallet-left h1 {
  font-size: 36px;
  color: #160034;
  padding-bottom: 41px;
  word-break: break-word;
}

.wallet-left button {
  background: #160034;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  padding: 12px 32px;
}

.wallet-right h6 {
  padding-bottom: 15px;
  font-size: 20px;
  color: #160034;
}

.chart {
  width: 125px;
  position: relative;
}

.chart span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: #00C48A;
}

.chart p {
  position: absolute;
  top: 82px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #525252;
  text-align: center;
}

.wallet-right1 {
  background: #fff;
  border-radius: 21px;
  padding: 27px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.right-first {
  display: flex;
}

.right-2 {
  padding-left: 31px;
}

.right-2 h4 {
  font-size: 16px;
  color: #0D0D0D;
}

.right-2 p {
  font-size: 12px;
  color: #525252;
  padding: 4px 0 21px;
}

.right-raised {
  display: flex;
  grid-column-gap: 56px;
}

.right-raised p {
  font-size: 13px;
  padding: 0;
  font-weight: bold;
}

.right-raised h5 {
  font-size: 20px;
  color: #00C48A;
  /* color: #0D0D0D; */
  padding-top: 5px;
  word-break: break-word;
}

.paid-sr {
  color: #00C48A !important;
}

.right-second {
  border-left: 1px solid #C9C9C9;
  padding-left: 52px;
}

button {
  background-color: transparent;
  padding: 0;
}

.amo-rai {
  padding: 0;
}
.nav nav-tabs{
justify-content: center;
background: #3c0d7c;
}
.campaign-tab .nav-tabs  .nav-link {
border-radius: 0;
font-size: 16px;
color: #FFFFFF;
border: 0;
font-family: unset;
display: flex;
justify-content: center;
align-items: center;
padding: 20px 31px;
font-weight: bold;
}
.row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -120px;
margin-left: -70px;
}
