<div class="container">
    <div class="padd">
        <h4>{{LANG.privacy_policy}}</h4>
        <h6>{{LANG.privacy_heading}}</h6>
        <div class="details">
            <h5>{{LANG.privacy_heading_one}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_two}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_three}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_four}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_five}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_six}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_seven}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_eight}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_nine}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_ten}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_eleven}}</h5>
            <p></p>
        </div>
        <div class="details">
            <h5>{{LANG.privacy_heading_tewlve}}</h5>
            <p></p>
        </div>

    </div>
</div>
