<div class="text-center">
  <h3>
    مستند الطرح – صكوك المرابحة 1-111-22
    <!-- <small class="text-muted">With faded secondary text</small> -->
  </h3>
  <h4>والمطروحة على منصة شركة التنافسية المالية</h4>
  <br />
</div>
<h2>{{ opertunityDetail.tagline }}</h2>
<div class="border border-primary">
  <dl class="row text-right">
    <dd class="col-sm-12">
      <p>
        تحتوي النشرة على معلومات المصدر والمستفيد شركة .......... – شركة .......
        - والمعلومات المتعلقة بالإصدار الأول.
      </p>
    </dd>
    <dd class="col-sm-12">
      <p>
        يعمل المستفيد وفقاً للرقم الوطني الموحد رقم........................ه
      </p>
    </dd>
    <dd class="col-sm-12">
      <p>
        تجاوزت مبيعات المستفيد حسب القوائم المالية...........مليون لعامي
        ......و......وهامش صافي أرباح(........)لعامي.......و......على التوالي
      </p>
    </dd>
    <dd class="col-sm-12">
      <p>
        تستحق بتاريخ<abbr title="Oportunity Date" class="initialism">{{opertunityDetail.close_date}}</abbr> بعائد سنوي....................على القيمة الاسمية
        للصك {{opertunityDetail.share_price}} ريال سعودي ويتم توزيع الأرباح بشكل دوري,كما سيتم
        إطفاء صكوك كل إصدار ذي صلة دفعة واحدة في تايخ الإطفاء.
      </p>
    </dd>
    <dd class="col-sm-12">
      <p>
        على المستثمرين الراغبين بالاستثمار في الإصدار التسجيل كمستثمر في منصة
        التنافسية المالية للاستثمار على الرابط.
      </p>
    </dd>
    <dd class="col-sm-12">
      <p>
        الحد الأعلى للمستثمرين المؤهلين هو تغطية كامل قيمة الإصدار، بينما الحد
        الأعلى للمستثمر الفرد هو ( 20,000 ) عشرون ألف ريال سعودي لكل "مستفيد"
        للسنة الواحدة، علماً أن الحد الأدنى للاستثمار هو صك واحد بقيمة (1,000)
        ألف ريال سعودي.
      </p>
    </dd>
  </dl>
</div>
<hr />
<br />
<h2 style="color: red; text-align: center">إشعار هام</h2>
<div class="border border-primary">
  <dl class="row text-right">
    <dd class="col-md-12">
      <p>
        تحتوي نشرة الإصدار "النشرة" على معلومات يتحمل المستفيد والراعي الذي يظهر
        اسمه في فقرة الراعي من ملخص معلومات الإصدار مجتمعًا مع المستفيد أو
        منفردًا كامل المسؤولية عن دقة المعلومات الواردة في نشرو الإصدار هذه،
        ويؤكد المستفيد والراعي بحسب علمهما واعتقادهما، بعد إجراء جميع الدراسات
        الممكنة وإلى الحد المعقول، أنه لاتوجد أي وقائع أخرى يمكن أن يؤدي عدم
        تضمينها في النشرة إلى جعل أي إفادة واردة فيها مضللة. ولا تتحمل هيئة
        السوق المالية أو شركة التنافسية المالية للاستثمار مجتمعين أو منفردين أي
        مسؤولية عن محتويات هذه النشرة، ولا تعطيان أي تأكيدات تتعلق بدقتها أو
        اكتمالها، وتخليان نفسيهما صراحة من أي مسؤولية مهما كانت عن أي خسارة تنتج
        عما ورد في هذه النشرة أو عن الاعتماد على أي جزء منها.
      </p>
      <p>
        الأوراق المالية المطروحة صادرة عن منشأة ذات أغراض خاصة مرخص لها من قبل
        هيئة السوق المالية. وتحتفظ هيئة السوق المالية بسجل للمنشأة ذات الأغراض
        الخاصة وتنظمها. ولا تصدر هيئة السوق المالية موافقة على، ولاتكون مسؤولة
        عن، مستندات الطرح ولا الموافقة عليها ، ولا أحكام الأوراق المالية التي
        تصدرها المنشأة ذات الأغراض الخاصة أو هياكل التمويل التي تستخدمها، أو
        مخاطر الاستثمار أو العوائد المرتبطة بالأوراق المالية. ولا تنظم هيئة
        السوق المالية ولا تراقب قيمة أصول المنشأة ذات الأغراض الخاصة أو قدرتها
        على الوفاء بالتزاماتها، ولا تقدم أي اعتمادات أو توصيات عن الأوراق
        المالية.
      </p>
    </dd>
  </dl>
</div>
<hr />
<br />
<h2 style="text-align: center">برنامج إصدار صكوك المرابحة</h2>
<div class="border border-primary">
  <dl class="row text-right">
    <dd class="col-md-12">
      <p>
        سيمكن برنامج إصدار صكوك المرابحة لشركة ....................... من طرح
        مجموعة من إصدارات الصكوك من حين لآخر و ذلك وفقاً للأنظمة والتعليمات ذات
        الصلة.
      </p>
      <p>
        تُصدر الصكوك وتسجل إلكترونياً بالقيمة الاسمية المحددة للصك الواحد وفقاً
        للشروط النهائية الخاصة بالإصدار .
      </p>
      <p>
        كما هو موضح في الشروط والأحكام للطرح، فإن الصكوك تمنح لحملتها الحق في
        الحصول على مبالغ مالية تتولد من أصول الصكوك الخاصة بالإصدار ذي الصلة.
        ويمثل كل صك حصة ملكية مشاعة في أصول الصكوك، وتُرتب هذه الصكوك لحملتها
        حقوقاً متساوية فيما بينهم طوال الوقت دون تفضيل.
      </p>
      <p>
        ستحدد الشروط النهائية لكل إصدار القيمة الاسمية للصكوك ذات الصلة، وسعر
        إصدارها، ومعدل العائد وغيرها من المعدومات المتعدقة بالإصدار ذي الصلة.
      </p>
      <p>
        أجازت اللجنة الشرعية لشركة التنافسية المالية للاستثمار نموذج عمل الصكوك
        المصدرة من خلال منصة التنافسية المالية للاستثمار. ولن تكون قابدة للتداول
        على منصة الصكوك، وذلك بحسب أنظمة هيئة السوق المالية، وأحكام الشريعة
        الإسلامية المتعلقة بصكوك المرابحة، إلا من خلال آلية التخارج في ضوء
        الإجراءات الداخلية لشركة التنافسية المالية للاستثمار المتوافقة مع
        الضوابط المعتمدة من اللجنة الشرعية لشركة التنافسية المالية للاستثمار.
      </p>
      <p>
        عند قراءة هذا المستند وتفسيره يجب مراعاة أي تعديل أو إضافة تطرأ عليه
        ويجب كذلك مراعاة أي معلومات خارجية مشار إليها فيه. وفيما يخص كل إصدار
        ضمن البرنامج، فيجب مراعاة وقراءة الشروط النهائية المتعلقة بالإصدار ذي
        الصلة.
      </p>
      <p>
        صدرت مذكرة المعلومات هذه في.....تاريخ هجري.....الموافق....تاريخ ميلادي.
      </p>
    </dd>
  </dl>
</div>
